Add option to present invalid server certificate

Some [clients](https://github.com/cloudfoundry/gorouter) prefer TLS handshakes to fail in a proper way rather than just getting a TCP connection closed if no backend is available to Harald.

It is therefore useful to add an option that allows Harald to present an invalid server certificate (could be rolled by Harald on startup or set via API or both). Any TLS client that wants to talk to the backend will get a failed TLS handshake and can safely assume that the backend is not available.

1. In [trying the backend](https://github.com/maxmoehl/harald/blob/main/harald.go#L135-L138) add a check for e.g. `failTlsOnBackendConnError` flag.
2. If the flag is set and the backend is unavailable, don't return and close early.
3. Instead, mark the backend as unavailable using a flag
4. When [adding TLS](https://github.com/maxmoehl/harald/blob/main/harald.go#L143-L147), use a different TLS config, e.g. `failTlsConfig` if the backend is marked as unavailable
5. The rest continues as usual. The TLS handshake will fail as the client does not accept the server certificate.

I want to avoid such complexity. gorouter is able to distinguish between the different kinds of EOFs and IMO it is the cleaner solution to close the connection.

The best case would be to reject the TCP connection but that would require mangling the TCP stack which I'm not even sure is possible at all in Go (without writing your own TCP stack).

With #10 you would get the possibility of replacing the certificates on the fly but it would go against the design of harald to do it that way.

Don't forget that the ability of gorouter to distinguish EOFs does entirely depend on the current implementation of httptrace. If it changes in the future, we might get problems. Being able to abort a TLS handshake in a proper way would also benefit other clients that don't happen to use httptrace.

I originally thought about responding with a TLS alert but it turns out you can't do that before you actually complete the TLS handshake and establish a TLS session. Another way of sending the client away is to respond with non-TLS gibberish like "GOAWAY" which leads to "doesn't look like TLS" errors on the client side - at least not a plain EOF.

Another case we need to address is the stopping of a backend app, which currently is resolved by putting an invalid cert into Envoy. So, not a far cry from what I propose here.

> Don't forget that the ability of gorouter to distinguish EOFs does entirely depend on the current implementation of httptrace. If it changes in the future, we might get problems.

Given that `net/http/httptrace` is covered by the [go1 compatibility promise](https://go.dev/doc/go1compat) I consider it very unlikely that it will break in a way that no longer supports our use-case.

> Another case we need to address is the stopping of a backend app, which currently is resolved by putting an invalid cert into Envoy. So, not a far cry from what I propose here.

Harald is built to support the shutdown use-case via OS signals that can be sent and will close the listeners. This works without interrupting existing connections to allow for draining on the upstream server and makes for a much cleaner solution. The existing functionality in envoy is a mere hack to work around the fact that envoy is a bad fit for this task.

<hr/>

The TLS protocol clearly states that, when sending a ClientHello, any response other than a ServerHello is a fatal error (in the context of TLS, not TCP or something else):
> The client sends a ClientHello message to which the server must respond with a ServerHello message, or else a fatal error will occur and the connection will fail.

See [RFC 5246 Section 7.3](https://www.rfc-editor.org/rfc/rfc5246#section-7.3).

In my opinion this a short-coming of go and how the error handling has evolved over time. I am aware that it will probably not change in go1 (due to the compatibility promise) but given that `net/http/httptrace` is equally unlikely to change the current behaviour is sufficient (again, my personal opinion).

